#container {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
}
#container div{
    width: 16px;
    border: 1px solid black;
    padding: 8px 0;
    margin: 1px;
}
button {
    margin: 5px;
    float: right;
}